* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-content: space-between;
    min-height: 100vh;
    min-width: 100vw;
}

.header-moudel_login_button.is-hidden {
    display: none;
}

.header-moudel_logout_button.is-hidden {
    display: none;
}

.auth-moudel.is-hidden {
    display: none;
}

.auth-moudel_login_form.is-hidden {
    display: none;
}

.auth-moudel_register_form.is-hidden {
    display: none;
}
