<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='cloud-share.svg') }}" type="image/x-icon">
    <title>LiteSky | {% block title %}{% endblock %}</title>
    {% block head %}{% endblock %}
</head>
<body>
    <div class="container">
        <header>
            <div class="title-container">

            </div>

            <nav>
                <ul>
                    <li><a href="{{ url_for('doc.doc') }}">文档</a></li>
                </ul>
            </nav>
        </header>

        <main>
            {% block content %}{% endblock %}
        </main>

        <footer>
            <p>&copy; xxx. All rights reserved.</p>
        </footer>
    </div>

    {% block scripts %}{% endblock %}
</body>
</html>