{% extends "base.html" %}


{% block title %}首页{% endblock %}


{% block content %}
<h1>欢迎来到 LiteSky</h1>
<p>这是一个轻量级的云存储服务，提供简单易用的文件上传和管理功能。</p>
<div>
    <button class="goto-upload-button">我要上传</button>
    <form class="download-form">
        <label for="download_code">下载码</label>
        <input type="text" name="download_code" id="download_code" placeholder="请输入下载码">
        <button class="goto-download-button">我要下载</button>
    </form>
</div>
{% endblock %}

{% block scripts %}
<script type="module" src="{{ url_for('static', filename='js/index/main.js') }}"></script>
{% endblock %}