{% extends "base.html" %}


{% block title %}登录{% endblock %}


{% block content %}
<form class="auth-moudel_login_form">
    <h2>登录</h2>
    <!-- 用户名输入 -->
    <label class="auth-moudel_label" for="username">用户名</label>
    <input class="auth-moudel_input" type="text" id="username" name="username" required>
    <!-- 密码输入 -->
    <label class="auth-moudel_label" for="password">密码</label>
    <input class="auth-moudel_input" type="password" id="password" name="password" required>
    <!-- 登录和注册 -->
    <button type="button" class="auth-moudel_login_button">登录</button>
    <button type="button" class="auth-moudel_switch_button">没有账号？</button>
</form>
{% endblock %}